.about {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
    padding: 32px;
@media(max-width: 576px) {
        padding: 32px 16px;
    } 
    .about_head {
        margin-bottom: 40px;
        font-size: 32px;
        line-height: 120%;
        font-weight: 700;
        color: #111827;
        text-align: center;
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 200px;
            height: 4px;
            background-color: #FFA500;
            margin: 16px auto 0;
            border-radius: 2px;
        }

        @media (max-width: 576px) {
            font-size: 28px;
            word-wrap: break-word;
        }
    }

    .about_block {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 32px;
        padding-bottom: 40px;
        border-radius: 16px;
        border: 1px solid #00000029;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
@media(max-width: 576px) {
        padding: 32px 16px;
    } 
        &:hover {
            transform: translateY(-4px);
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
        }

        .about_paragraph {
            color: #000000A3;
            font-size: 16px;
            line-height: 160%;
        }
    }
}
