.offer {
	display: flex;
	align-items: center;
	background: url("/images/offer_bac.webp") no-repeat left top / cover;
	min-height: calc(100svh - 82px);
	position: relative;

	.offer_bird {
		position: absolute;
		width: 60px;
		height: 60px;
		background: url('/images/bird.webp') no-repeat center/contain;
		top: 20%;
		left: -60px;
		animation: fly 12s linear infinite;
		z-index: 10;
	}

	@keyframes fly {
		0% {
			transform: translateX(0) translateY(0) rotate(0deg);
		}

		25% {
			transform: translateX(25vw) translateY(-50px) rotate(-10deg);
		}

		50% {
			transform: translateX(50vw) translateY(0) rotate(0deg);
		}

		75% {
			transform: translateX(75vw) translateY(-50px) rotate(30deg);
		}

		100% {
			transform: translateX(100vw) translateY(0) rotate(0deg);
		}
	}

	.offer_content {
		box-sizing: border-box;
		max-width: 1440px;
		margin: 0 auto;
		padding: 16px 32px;
		display: flex;
		align-items: center;
		gap: 40px;
		height: 100%;

		@media(max-width: 1200px) {
			flex-direction: column;
		}

		@media(max-width: 576px) {
			padding: 16px;
			gap: 20px;
		}

		.offer_block {
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			padding: 32px 16px;
			border-radius: 32px;
			border: 1px solid #000;
			background: #10101033;
			backdrop-filter: blur(10px);
			max-width: 490px;

			.offer_block_title {
				color: #fff;
				font-size: 30px;
				margin-bottom: 20px;

				@media(max-width: 576px) {
					font-size: 20px;
					margin-bottom: 10px;
				}
			}

			.offer_subtitle {
				font-size: 26px;
				margin-bottom: 30px;

				@media(max-width: 576px) {
					font-size: 16px;
					margin-bottom: 20px;
				}
			}

			.offer_text {
				font-size: 17px;
				margin-bottom: 20px;

				@media(max-width: 576px) {
					font-size: 14px;
					margin-bottom: 10px;
				}
			}
		}

		.offer_title {
			background: url('/images/offer_bac.webp') center bottom;
			-webkit-background-clip: text;
			color: transparent;
			font-size: 74px;
			width: fit-content;
			position: relative;

			@media(max-width: 1200px) {
				background: url('/images/offer_bac.webp') center top;
				-webkit-background-clip: text;
				text-align: center;

			}

			@media(max-width: 768px) {
				font-size: 52px;
			}

			@media(max-width: 576px) {
				font-size: 32px;
			}
		}
	}
}