.search {
    position: relative;
    
    .search_input {
        width: 250px;
        height: 32px;
        border-radius: 32px;
        border: 1px solid #000;
        padding: 0px 48px 0px 16px;
        background-color: transparent;
        &::placeholder {
            color: #00000052;
        }
    }

    .search_button {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        height: 16px;
    }
}